<p id="notice"><%= notice %></p>

<h1>Subsusers</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Subsid</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsusers.each do |subsuser| %>
      <tr>
        <td><%= subsuser.userid %></td>
        <td><%= subsuser.subsid %></td>
        <td><%= subsuser.type %></td>
        <td><%= link_to 'Show', subsuser %></td>
        <td><%= link_to 'Edit', edit_subsuser_path(subsuser) %></td>
        <td><%= link_to 'Destroy', subsuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsuser', new_subsuser_path %>
